{% extends 'base.html.twig' %}

{% block body %}

<div class="row clearfix">

    <div class="col-xs-12 col-sm-12">
        <div class="card">
            <div class="header">
				<h2>Changement mot de passe</h2>
			</div>

            <div class="body">
                {#<form class="form-horizontal">
                    <div class="form-group">
                        <label for="NewPassword" class="col-sm-3 control-label">Nouveau mot de passe</label>
                        <div class="col-sm-9">
                            <div class="form-line">
                                <input type="password" class="form-control" id="NewPassword" name="NewPassword" placeholder="Nouveau mot de passe" required>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="NewPasswordConfirm" class="col-sm-3 control-label">Nouveau mot de passe (Confirmation)</label>
                        <div class="col-sm-9">
                            <div class="form-line">
                                <input type="password" class="form-control" id="NewPasswordConfirm" name="NewPasswordConfirm" placeholder="Confirmation nouveau mot de passe" required>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-offset-3 col-sm-9">
                            <button type="submit" class="btn btn-danger">CHANGER</button>
                        </div>
                    </div>
                </form>#}
                
                {{ form_start(form) }}
                    <div class="row clearfix">
                        <div class="col-md-12">{{ form_row(form.password) }}</div>
                    </div>
                    <div class="row clearfix">
                        <div class="col-md-12">{{ form_row(form.confirmPassword) }}</div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-10 col-sm-2">
                            <button type="submit" class="btn btn-danger">CHANGER</button>
                        </div>
                    </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>	
</div>

{% endblock %}

{% block scripts %}
    
    
{% endblock %}
