{% extends 'base.html.twig' %}

{% block title %}Liste matériel en panne{% endblock %}

{% block body %}

<div class="row clearfix">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<div class="card">
				<div class="header">
					<h2>Utilisateur<small>Liste</small></h2>
                    <ul class="header-dropdown m-r--5">
                        <a href="{{ path('app_register') }}" class="btn btn-primary">Créer un compte</a>
                    </ul>
				</div>
				<div class="body table-responsive" id="search-result" data-url="">

                    <form method="POST" action="{{ path('app_users') }}">
                        <div class="row">
                            <div class="col-sm-10">
                                <div class="input-group">
                                    <div class="form-line">
                                        <input type="text" class="form-control" placeholder="Nom/Prénoms" value="" name="v_mots">
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-2" align="right">
                            <button type="submit" class="btn btn-sm bg-teal">
                                <i class="material-icons">search</i>
                                <span>Rechercher</span>
                            </button>
                            </div>
                        </div>
                    </form>

                    <ol class="breadcrumb breadcrumb-bg-teal align-right">
                        <li>
                            {% if app.session.flashBag.has('success_user') %}
                                    {% for msg in app.session.flashBag.get('success_user') %}
                                        {{ msg }}
                                    {% endfor %}
                            {% endif %}
                        </li>
                    </ol>

					<table class="table table-responsive table-bordered table-striped table-hover" id="table-result" role="grid">
						<thead>
							<tr role="row">
                                <th rowspan="1" colspan="1"></th>
                                <th>Nom et pr&eacute;nom</th>
                                <th>Identifiant</th>
                                <th>Role</th>
                                <th>Etat</th>
                                <th class="text-center">Action</th>
                            </tr>
						</thead>
						<tbody>
                            {% if result is not empty %}
                                {% for user in result %}
                                    {% if "ROLE_ADMIN" not in user.roles %}
                                        <tr role="row" class="odd">
                                            <td class="fit">
                                                <div class="image">
                                                    <img src="{{ asset('uploads/photos/'~user.avatarPath) }}" width="48" height="48" alt="user">
                                                </div>
                                            </td>
                                            <td class="sorting_1"><b>{{ user.fullName }}</b></td>
                                            <td class="fit"><b>{{ user.matricule }}</b></td>
                                            <td class="fit">
                                                {% if "ROLE_ADMIN" in user.roles %}
                                                    <span class="label bg-light-blue">Admin</span>
                                                {% endif %}
                                                {% if "ROLE_CONTROLER" in user.roles %}
                                                    <span class="label bg-purple">Finance</span>
                                                {% endif %}
                                                {% if "ROLE_TECH" in user.roles %}
                                                    <span class="label bg-brown">Informaticien</span>
                                                {% endif %}
                                                {% if "ROLE_LOG" in user.roles %}
                                                    <span class="label bg-indigo">Logistique</span>
                                                {% endif %}
                                                {% if "ROLE_USER" in user.roles %}
                                                    <span class="label bg-light-blue">Consultation</span>
                                                {% endif %}
                                            </td>
                                            <td class="fit">
                                                {% if user.isActive == true %}
                                                    <span class="label bg-green">Activé</span>
                                                {% else %}
                                                    <span class="label bg-red">Inactif</span>
                                                {% endif %}
                                            </td>
                                            <td class="fit">
                                                <div align="right">
                                                    {% if is_granted('ROLE_ADMIN') %}
                                                        <a class="btn btn-sm btn-success" href="{{ path('app_user_updated', {id: user.id}) }}">Editer</a>
                                                    {% endif %}
                                                    <form method="post" action="{{ path('admin.users.reset', {id: user.id}) }}" style="display: inline-block" onsubmit="return confirm('Etes vous vraiment sûr ?')">
                                                        <input type="hidden" name="_method" value="DELETE">
                                                        <input type="hidden" name="_token_reset" value="{{ csrf_token('reset' ~ user.id) }}">
                                                        <button class="btn btn-sm btn-info">Reinitialiser</button>
                                                    </form>
                                                    <form method="post" action="{{ path('admin.users.switch', {id: user.id}) }}" style="display: inline-block" onsubmit="return confirm('Etes vous vraiment sûr ?')">
                                                        <input type="hidden" name="_method" value="DELETE">
                                                        <input type="hidden" name="_token_switch" value="{{ csrf_token('switch' ~ user.id) }}">
                                                        <button class="btn btn-sm btn-secondary">Activer/Désactiver</button>
                                                    </form>
                                                </div>
                                            </td>
                                        </tr>
                                    {% endif %}
                                {% endfor %}
                            {% else %}
                                <tr role="row" class="odd">
                                    <td colspan="10" align="center">
                                        <p class="font-bold col-red">Aucune entr&eacute;e <a href="{{ path('app_register') }}"> Ajouter </a></p>
                                    </td>
                                </tr>
                            {% endif %}
                        </tbody>
					</table>
                    <div class="pagination">
                        {{ knp_pagination_render(result) }}
                    </div>
			    </div>
			</div>
		</div>
</div>


{% endblock %}