<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
		<title>IFRA | Login</title>
		<!-- Favicon-->
		<link rel="icon" href="{{ asset('assets/favicon.ico') }}" type="image/x-icon">
		<!-- Google Fonts -->
		<link href="{{ asset('assets/fonts/fonts.css') }}" rel="stylesheet" type="text/css">
		<link href="{{ asset('assets/fonts/material_icons.css') }}" rel="stylesheet" type="text/css">
		<!-- Bootstrap Core Css -->
		<link href="{{ asset('assets/plugins/bootstrap/css/bootstrap.css') }}" rel="stylesheet">
		<!-- Waves Effect Css -->
		<link href="{{ asset('assets/plugins/node-waves/waves.css') }}" rel="stylesheet"/>
		<!-- Animation Css -->
		<link href="{{ asset('assets/plugins/animate-css/animate.css') }}" rel="stylesheet"/>
		<!-- Custom Css -->
		<link href="{{ asset('assets/css/style.css') }}" rel="stylesheet">
	</head>

	<body class="login-page">
		<div class="login-box">
			{#<div class="logo">
				<h1>
					<b>SUIVI IMMOBILIERS</b>
				</h1>
			</div>#}
			<div class="logo">
				<a href="javascript:void(0);"><b>SUIVI IMMO</b></a>
			</div>
			<div class="card">
				<div class="body">
					<form id="sign_in" method="POST">
						<div class="msg">
							{% if error %}
								<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
							{% endif %}
							{% if app.user %}
								<div class="mb-3">
									You are logged in as
									{{ app.user.username }},<a href="{{ path('app_logout') }}">Logout</a>
								</div>
							{% endif %}
						</div>
						<div class="input-group">
							<span class="input-group-addon"><i class="material-icons">person</i></span>
							<div class="form-line">
								<input type="text" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" placeholder="Identifiant" required autofocus>
							</div>
						</div>
						<div class="input-group">
							<span class="input-group-addon"><i class="material-icons">lock</i></span>
							<div class="form-line">
								<input type="password" name="password" id="inputPassword" class="form-control" placeholder="Mot de passe" required>
								<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
							</div>
						</div>
						<div class="row">
							<div class="col-xs-8 p-t-5">
								<input type="checkbox" name="rememberme" id="rememberme" class="filled-in chk-col-pink">
								<label for="rememberme">Se souvenir de moi</label>
							</div>
							<div class="col-xs-4">
								<button class="btn btn-lg btn-primary" type="submit">Login</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>

		<!-- Jquery Core Js -->
		<script src="{{ asset('assets/plugins/jquery/jquery.min.js') }}"></script>
		<!-- Bootstrap Core Js -->
		<script src="{{ asset('assets/plugins/bootstrap/js/bootstrap.js') }}"></script>
		<!-- Waves Effect Plugin Js -->
		<script src="{{ asset('assets/plugins/node-waves/waves.js') }}"></script>
		<!-- Validation Plugin Js -->
		<script src="{{ asset('assets/plugins/jquery-validation/jquery.validate.js') }}"></script>
		<!-- Custom Js -->
		<script src="{{ asset('assets/js/admin.js') }}"></script>
		<script src="{{ asset('assets/js/pages/examples/sign-in.js') }}"></script>
	</body>

</html>
