{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link href="{{ asset('assets/plugins/bootstrap-select/css/bootstrap-select.css') }}" rel="stylesheet"/>
    <style type="text/css">
        #image-clickable {
            border-radius: 5px;
            border: 2px solid #1870ad;
            padding: 5px;
            width: 150px;
            height: 150px;
        }
    </style> 
{% endblock %}

{% block body %}

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h2>Utilisateur<small>Modification</small></h2>
            </div>

            <div class="body">
                {{ form_start(form) }}
                    <div class="row clearfix">
                        <div class="col-md-4">
                            <div class="form-control hidden">
                                <div class="form-line">
                                    {{ form_widget(form.avatar) }}
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4" align="center">
                            <div class="image-area">
                                <img id="image-clickable" src="{{ asset('assets/images/empty.jpg') }}" alt="Profile - Image">
                            </div>
                        </div>
                        <div class="col-sm-4"></div>
                    </div>

                    <div class="row clearfix">
                        <div class="col-md-6">{{ form_row(form.fullName) }}</div>
                        <div class="col-md-6">{{ form_row(form.matricule) }}</div>
                    </div>

                    <div class="row clearfix">
                        <div class="col-md-6">{{ form_row(form.service) }}</div>
                        <div class="col-md-6">{{ form_row(form.fonction) }}</div>
                    </div>

                    <div class="row clearfix">
                        <div class="col-sm-8">
                            {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_TECH') or is_granted('ROLE_CONTROLER') %}
                                <div class="col-sm-3">
                                    <div class="demo-switch-title">Consultation</div>
                                    <div class="switch">
                                        <label><input type="checkbox" name="consultation" value="1" {% if "ROLE_USER" in user.roles %} checked {% endif %}><span class="lever switch-col-blue"></span></label>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="demo-switch-title">Logistique</div>
                                    <div class="switch">
                                        <label><input type="checkbox" name="logistic" value="1" {% if "ROLE_LOG" in user.roles %} checked {% endif %}><span class="lever switch-col-indigo"></span></label>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="demo-switch-title">Informaticien</div>
                                    <div class="switch">
                                        <label><input type="checkbox" name="technic" value="1" {% if "ROLE_TECH" in user.roles %} checked {% endif %}><span class="lever switch-col-brown"></span></label>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="demo-switch-title">Finance</div>
                                    <div class="switch">
                                        <label><input type="checkbox" name="controler" value="1" {% if "ROLE_CONTROLER" in user.roles %} checked {% endif %}><span class="lever switch-col-purple"></span></label>
                                    </div>
                                </div>
                            {% endif %}
                        </div>

                        <div class="col-sm-4" align="right">
                            <button type="submit" class="btn btn-sm bg-blue">
                                <i class="material-icons">done</i>
                                <span>EDITER</span>
                            </button>
                            <a href="{{ path('app_users') }}" class="btn btn-sm bg-red">
                                <i class="material-icons">clear</i>
                                <span>ANNULER</span>
                            </a>
                        </div>
                    </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>

{% endblock %}
{% block scripts %}
    <script src="{{ asset('assets/plugins/bootstrap-select/js/bootstrap-select.js') }}"></script>
    <script type="text/javascript">
        $(function (e) {
            $('#image-clickable').off('click').on('click', function (ev) {
                $('#account_user_avatar').trigger('click');
            });
        });
        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $('#image-clickable').attr('src', e.target.result);
                }
                reader.readAsDataURL(input.files[0]);
            }
        }
        $("#account_user_avatar").change(function () {
            readURL(this);
        });
    </script>
{% endblock %}
