{% extends 'base.html.twig' %}

{% block body %}

<div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
                <div class="header">
                    <h2>Détail matériel</h2>
                </div>
                <div class="body" id="search-result">
                    {{ form_start(form) }}
                        <div class="row clearfix">
                            <div class="col-md-6">
                                <div class="input-group">
                                    <label>Inséré par</label>
                                    <div class="form-line">
                                        <input type="text" class="form-control" placeholder="" value="{{ materiel.users.matricule }}" name="v_operateur" disabled>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="input-group">
                                    <label>Edité par</label>
                                    <div class="form-line">
                                        <input type="text" class="form-control" placeholder="aucune modification" {% if materiel.userEdit is not empty %} value="{{ materiel.userEdit.matricule }}" {% endif %} name="v_editeur" disabled>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row clearfix">
                            <div class="col-md-6">{{ form_row(form.codeImmo) }}</div>
                            <div class="col-md-6">{{ form_row(form.nature) }}</div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-md-6">{{ form_row(form.designation) }}</div>
                            <div class="col-md-6">{{ form_row(form.responsable) }}</div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-md-6">{{ form_row(form.centreCout) }}</div>
                            <div class="col-md-6">{{ form_row(form.lieuService) }}</div>
                        </div>

                        <div class="row clearfix">
                            <div class="col-md-6">{{ form_row(form.dateFacture) }}</div>
                            <div class="col-md-6">{{ form_row(form.dateService) }}</div>
                        </div>

                        <div class="row clearfix">
                            <div class="col-md-6">{{ form_row(form.fournisseur) }}</div>
                            <div class="col-md-6">{{ form_row(form.valeurAchat) }}</div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-md-12">{{ form_row(form.observation) }}</div>
                        </div>

                        <h2 class="card-inside-title">Etat du matériel</h2>
                        <div class="row clearfix">
                            <div class="col-sm-1">
                                <div class="input-group">
                                    <span class="input-group-addon font-bold col-cyan">Etat:</span>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <input name="v_etat" type="radio" id="radio_atat_be" value="1" {% if materiel.etat == 1 %} checked {% endif %} />
                                <label for="radio_atat_be">Bon état</label>
                                <input name="v_etat" type="radio" id="radio_atat_moyen" value="2" {% if materiel.etat == 2 %} checked {% endif %} />
                                <label for="radio_atat_moyen">Moyen</label>
                                <input name="v_etat" type="radio" id="radio_atat_mauvais" value="3" {% if materiel.etat == 3 %} checked {% endif %} />
                                <label for="radio_atat_mauvais">Mauvais</label>
                                <input name="v_etat" type="radio" id="radio_atat_perdu" value="6" {% if materiel.etat == 6 %} checked {% endif %} />
                                <label for="radio_atat_perdu">Perdu</label>
                                <input name="v_etat" type="radio" id="radio_atat_stock" value="0" {% if materiel.etat == 0 %} checked {% endif %} />
                                <label for="radio_atat_stock">En stock</label>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-md-8">
                            </div>
                            <div class="col-sm-4" align="right">
                                {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_TECH') or is_granted('ROLE_CONTROLER') or is_granted('ROLE_LOG') %}
                                    <button type="submit" class="btn btn-sm bg-blue">
                                        <i class="material-icons">done</i>
                                        <span>Editer</span>
                                    </button>
                                {% endif %}
                                <a href="{{ path('suivi.immo.index') }}" class="btn btn-sm bg-red">
                                    <i class="material-icons">clear</i>
                                    <span>Retour</span>
                                </a>
                            </div>
                        </div>
                    {{ form_end(form) }}

                    {#<form method="POST" action="{{ path('suivi.immo.detail', {id: mat.id}) }}">
                        <div class="row clearfix">
                            <div class="col-md-6">
                                <div class="input-group">
                                    <span class="input-group-addon font-bold col-cyan">Inséré par:</span>
                                    <div class="form-line">
                                        <input type="text" class="form-control" placeholder="" value="{{ mat.users.matricule }}" name="v_operateur" disabled>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="input-group">
                                    <span class="input-group-addon font-bold col-cyan">Edité par:</span>
                                    <div class="form-line">
                                        <input type="text" class="form-control" placeholder="aucune modification" {% if mat.userEdit is not empty %} value="{{ mat.userEdit.matricule }}" {% endif %} name="v_editeur" disabled>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row clearfix">
                            <div class="col-md-6">
                                <div class="input-group">
                                    <span class="input-group-addon font-bold col-cyan">Code Immo:</span>
                                    <div class="form-line">
                                        <input type="text" class="form-control" placeholder="Code immo" value="{{ mat.codeImmo }}" name="v_codeImmo" disabled>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="input-group">
                                    <span class="input-group-addon font-bold col-cyan">Nature:</span>
                                    <div class="form-line">
                                        <input type="text" class="form-control" placeholder="Nature" value="{{ mat.nature }}" name="v_nature" disabled>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row clearfix">
                            <div class="col-md-12">
                                <div class="input-group">
                                    <span class="input-group-addon font-bold col-cyan">Désignation:</span>
                                    <div class="form-line">
                                        <input type="text" class="form-control" placeholder="Désignation" value="{{ mat.designation }}" name="v_designation" required>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row clearfix">
                            <div class="col-md-6">
                                <div class="input-group">
                                    <span class="input-group-addon font-bold col-cyan">Lieu/Service:</span>
                                    <div class="form-line">
                                        <input type="text" class="form-control" placeholder="Lieu ou service" value="{{ mat.lieuService }}" name="v_lieuService" required>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="input-group">
                                    <span class="input-group-addon font-bold col-cyan">Centre de coût:</span>
                                    <div class="form-line">
                                        <input type="text" class="form-control" placeholder="Centre de coût" value="{{ mat.centreCout }}" name="v_centreCout" required>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row clearfix">
                            <div class="col-md-6">
                                <div class="input-group">
                                    <span class="input-group-addon font-bold col-cyan">Date facture:</span>
                                    <div class="form-line">
                                        <input type="text" class="form-control datepicker" placeholder="jj-mm-yyyy" {% if mat.dateFacture is not empty %} value="{{ mat.dateFacture|date('d-m-Y') }}" {% endif %} name="v_dateFacture" required>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="input-group">
                                    <span class="input-group-addon font-bold col-cyan">Date de mise en service:</span>
                                    <div class="form-line">
                                        <input type="text" class="form-control datepicker" placeholder="jj-mm-yyyy" {% if mat.dateService is not empty %} value="{{ mat.dateService|date('d-m-Y') }}" {% endif %} name="v_dateService">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row clearfix">
                            <div class="col-md-6">
                                <div class="input-group">
                                    <span class="input-group-addon font-bold col-cyan">Responsable:</span>
                                    <div class="form-line">
                                        <input type="text" class="form-control" placeholder="Responsable" value="{{ mat.responsable }}" name="v_responsable" required>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="input-group">
                                    <span class="input-group-addon font-bold col-cyan">Valeur d'achat:</span>
                                    <div class="form-line">
                                        <input type="text" class="form-control" placeholder="en ariary" value="{{ mat.valeurAchat }}" name="v_valeurAchat" required>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row clearfix">
                            <div class="col-md-12">
                                <div class="input-group">
                                    <span class="input-group-addon font-bold col-cyan">Observations:</span>
                                    <div class="form-line">
                                        <textarea class="form-control" placeholder="Entrer ici" name="v_observations">{{ mat.observation }}</textarea>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <h2 class="card-inside-title">Etat du matériel</h2>
                        <div class="row clearfix">
                            <div class="col-sm-1">
                                <div class="input-group">
                                    <span class="input-group-addon font-bold col-cyan">Etat:</span>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <input name="v_etat" type="radio" id="radio_atat_be" value="1" {% if mat.etat == 1 %} checked {% endif %} />
                                <label for="radio_atat_be">Bon état</label>
                                <input name="v_etat" type="radio" id="radio_atat_mauvais" value="3" {% if mat.etat == 3 %} checked {% endif %} />
                                <label for="radio_atat_mauvais">mauvais</label>
                            </div>
                        </div>
                        
                        <div class="row clearfix">
                            <div class="col-md-8">
                            </div>
                            <div class="col-sm-4" align="right">
                                {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_TECH') or is_granted('ROLE_CONTROLER') or is_granted('ROLE_LOG') %}
                                    <button type="submit" class="btn btn-sm bg-blue">
                                        <i class="material-icons">done</i>
                                        <span>Valider</span>
                                    </button>
                                {% endif %}
                                <a href="{{ path('suivi.immo.index') }}" class="btn btn-sm bg-red">
                                    <i class="material-icons">clear</i>
                                    <span>Retour</span>
                                </a>
                            </div>
                        </div>
                    </form>#}

                </div>
            </div>
        </div>
</div>
    
{% endblock %}

{% block scripts %}
    
{% endblock %}