{% extends 'base.html.twig' %}

{% block title %}Hello DefaultController!{% endblock %}

{% block body %}


    <div class="row clearfix">
            <!-- START -->
            <div class="row clearfix">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="card">
                        <div class="header">
                            <h2>Import d'un fichier Excel</h2>
                        </div>
                        <div class="body" id="search-result" data-url="{{ path('app_inventaire_import') }}" style="min-height: 400px;">
                            {{ form_start(form) }}
                                <div class="row clearfix">
                                    <div class="col-sm-11">
                                        {{ form_widget(form.name, {'attr': {'class':'form-control', 'accept':'.xls,.xlsx'}}) }}
                                    </div>
                                    <div class="col-sm-1">
                                        <button type="submit" name="import_file_btn" class="btn btn-primary" id="search-button">Importer</button>
                                    </div>
                                </div>
                            {{ form_end(form) }}
                            
                                {% if app.session.flashBag.has('success') %}
                                    <div class="row clearfix">
                                        <div class="col-sm-12 alert alert-success">
                                            {% for msg in app.session.flashBag.get('success') %}
                                                {{ msg }}
                                            {% endfor %}
                                        </div>
                                    </div>
                                {% endif %}
                            
                            <div class="table-responsive">
                                <table class="table1">
                                    <thead>
                                        <tr>
                                            <th class="bordered">N°</th>
                                            <th class="bordered">Code Immo</th>
                                            <th class="bordered">Nature</th>
                                            <th class="bordered">Date Facture</th>
                                            <th class="bordered">Date de mise en service</th>
                                            <th class="bordered">Désignation</th>
                                            <th class="bordered">Centre de coût</th>
                                            <th class="bordered">Lieu/Service</th>
                                            <th class="bordered">Responsable</th>
                                            <th class="bordered">Observations</th>
                                            <th class="bordered">Valeur d'achat</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% if result is not empty %}
                                            {% for res in result %}
                                                <tr {% if res.status is same as('exist') %} class="error" {% endif %}>
                                                    <td class="bordered center">{{ res.id }}</td>
                                                    <td class="bordered">{{ res.codeImmo }}</td>
                                                    <td class="bordered">{{ res.nature }}</td>
                                                    <td class="bordered">{{ res.dateFact }}</td>
                                                    <td class="bordered">{{ res.dateService }}</td>
                                                    <td class="bordered">{{ res.designation }}</td>
                                                    <td class="bordered">{{ res.centreCout }}</td>
                                                    <td class="bordered">{{ res.lieuService }}</td>
                                                    <td class="bordered">{{ res.responsable }}</td>
                                                    <td class="bordered">{{ res.observation }}</td>
                                                    <td class="bordered">{{ res.valeurAchat }}</td>
                                                </tr>
                                            {% endfor %}
                                        {% endif %}
                                    </tbody>
                                </table>
                            </div> 

                        </div>
                    </div>
                </div>
            </div>
            <!-- #END# -->
    </div>



{% endblock %}