{% extends 'base.html.twig' %}

{% block body %}

<div class="row clearfix">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<div class="card">
				<div class="header">
					<h2>Liste immobilisations</h2>
                    <ul class="header-dropdown m-r--5">
                        {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_TECH') or is_granted('ROLE_CONTROLER') or is_granted('ROLE_LOG') %}
                            <a href="{{ path('suivi.immo.new') }}" class="btn btn-primary">Créer un nouveau</a>
                        {% endif %}
                        {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_TECH') %}
                            <li><a href="{{ path('app_inventaire_import') }}" class="btn btn-primary">Import Excel</a></li>
                        {% endif %}
                    </ul>
				</div>
				<div class="body table-responsive" id="search-result" data-url="">

                    {#<form method="POST" action="{{ path('suivi.immo.index') }}">
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="input-group">
                                    <div class="form-line">
                                        <input type="text" class="form-control" placeholder="code immo ou designation" value="" name="v_mots">
                                    </div>
                                </div>
                            </div>
                            <div class=" col-sm-3">
                                <div class="input-group">
                                    <select class="form-control show-tick" name="v_responsable">
                                        <option value="">Responsable</option>
                                        {% for mats in mat %}
                                            <option value="{{ mats.responsable }}">{{ mats.responsable }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class=" col-sm-2">
                                <div class="input-group">
                                    <select class="form-control show-tick" name="v_etat">
                                        <option value="">Etat</option>
                                        <option value="1">En fonction</option>
                                        <option value="2">En panne</option>
                                        <option value="3">En mauvais</option>
                                        <option value="4">En hors service</option>
                                    </select>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-sm bg-teal">
                                <i class="material-icons">search</i>
                                <span>Rechercher</span>
                            </button>
                        </div>
                    </form>#}

                    {{ form_start(form) }}
                        <div class="row">
                            <div class="col-md-3">
                                {{ form_row(form.code) }}
                            </div>
                            <div class="col-md-3">
                                {{ form_row(form.responsable) }}
                            </div>
                            <div class="col-md-2">
                                {{ form_row(form.lieuService) }}
                            </div>
                            <div class="col-md-2">
                                {{ form_row(form.etat) }}
                            </div>
                            <div class="col-md-2">
                                <button type="submit" class="btn btn-sm bg-teal">
                                    <i class="material-icons">search</i>
                                    <span>Rechercher</span>
                                </button>
                            </div>
                        </div>
                    {{ form_end(form) }}

                    {% if result is not empty %}
                        <div class="row clearfix">
                            <div class="col-md-12">
                                <form action="{{ path('export') }}" method="post" class="form-horizontal">
                                    <div>
                                        <button type="submit" value="" class="btn btn-sm bg-teal" name="export_datas" id="export_datas">Exporter</button>
                                        <input type="radio" id="tous" name="option" value="tous" checked><label for="tous">Tous</label>
                                        {% if BE != 0 %}<input type="radio" id="1" name="option" value="1"><label for="1">BE</label>{% endif %}
                                        {% if Moyen != 0 %}<input type="radio" id="2" name="option" value="2"><label for="2">Moyen</label>{% endif %}
                                        {% if Mauvais != 0 %}<input type="radio" id="3" name="option" value="3"><label for="3">Mauvais</label>{% endif %}
                                        {% if Panne != 0 %}<input type="radio" id="4" name="option" value="4"><label for="4">Panne</label>{% endif %}
                                        {% if HorsService != 0 %}<input type="radio" id="5" name="option" value="5"><label for="5">Hors service</label>{% endif %}
                                        {% if Perdu != 0 %}<input type="radio" id="6" name="option" value="6"><label for="6">Perdu</label>{% endif %}
                                        {% if Stock != 0 %}<input type="radio" id="0" name="option" value="0"><label for="0">En stock</label>{% endif %}
                                    </div>
                                </form>
                            </div>
                        </div>
                    {% endif %}

                    <ol class="breadcrumb breadcrumb-bg-teal align-right">
                        <li>
                            <a href="javascript:void(0);">Total:
                                <span class="badge badge-info">{{ total }}</span>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0);">BE:
                                <span class="badge badge-info">{{ BE }}</span>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0);">Moyen:
                                <span class="badge badge-info">{{ Moyen }}</span>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0);">Mauvais:
                                <span class="badge badge-info">{{ Mauvais }}</span>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0);">Panne:
                                <span class="badge badge-info">{{ Panne }}</span>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0);">Hors service:
                                <span class="badge badge-info">{{ HorsService }}</span>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0);">Perdu:
                                <span class="badge badge-info">{{ Perdu }}</span>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0);">Stock:
                                <span class="badge badge-info">{{ Stock }}</span>
                            </a>
                        </li>
                    </ol>
					<table class="table table-bordered table-striped table-hover" id="table-result" role="grid">
						<thead>
							<tr role="row">
                                <th>Code</th>
                                <th>Designation</th>
                                <th>Date mise en service</th>
                                <th>Responsable</th>
                                <th>Etat</th>
                                <th><div align="center">Action</div></th>
							</tr>
						</thead> 
						<tbody>
                            {% if result is not empty %}
                                {% for res in result %}
                                <tr role="row" class="odd">
                                    <td class="fit">{{ res.codeImmo }}</td>
                                    <td class="fit">{{ res.designation }}</td>
                                    <td class="fit">{% if res.dateService is not empty %} {{ res.dateService|date('d-m-Y') }} {% endif %}</td>
                                    <td class="fit">{{ res.responsable }}</td>
                                    <td class="fit">
                                        {% if res.etat == 0 %}
                                            <span class="label bg-blue">Stock</span>
                                        {% endif %}
                                        {% if res.etat == 1 %}
                                            <span class="label bg-blue">Bon état</span>
                                        {% endif %}
                                        {% if res.etat == 2 %}
                                            <span class="label bg-teal">Moyen</span>
                                        {% endif %}
                                        {% if res.etat == 3 %}
                                            <span class="label bg-yellow">En mauvais</span>
                                        {% endif %}
                                        {% if res.etat == 4 %}
                                            <span class="label bg-pink">En panne</span>
                                        {% endif %}
                                        {% if res.etat == 5 %}
                                            <span class="label bg-red">Hors service</span>
                                        {% endif %}
                                        {% if res.etat == 6 %}
                                            <span class="label bg-red">Perdu</span>
                                        {% endif %}
                                    </td>
                                    <td class="fit" align="right">
                                        <a class="btn btn-sm btn-success" href="{{ path('suivi.immo.detail', {id: res.id}) }}">Détail</a>
                                        {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_TECH') or is_granted('ROLE_CONTROLER') %}
                                            <form method="post" action="{{ path('suivi.immo.delete', {id: res.id}) }}" style="display: inline-block" onsubmit="return confirm('Etes vous vraiment sûr ?')">
                                                <input type="hidden" name="_method" value="DELETE">
                                                <input type="hidden" name="_token_delete" value="{{ csrf_token('delete' ~ res.id) }}">
                                                <button class="btn btn-sm btn-danger">Supprimer</button>
                                            </form>
                                        {% endif %}
                                    </td>
                                </tr>
                                {% endfor %}
                            {% else %}
                                <tr role="row" class="odd">
                                    <td colspan="10" align="center">
                                        <p class="font-bold col-red">Aucune entr&eacute;e <a href="{{ path('app_inventaire_import') }}"> import Excel </a></p>
                                    </td>
                                </tr>
                            {% endif %}
                        </tbody>
					</table>

                    {% if result is not empty %}
                        <div class="row clearfix">
                            <div class="col-md-12">
                                {{ knp_pagination_render(result) }}
                            </div>
                        </div>
                    {% endif %}

				</div>
			</div>
		</div>
</div>



{% endblock %}