{% extends 'base.html.twig' %}

{% block title %}Proposition{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('assets/plugins/bootstrap-select/css/bootstrap-select.css') }}" rel="stylesheet"/>
    <!-- Bootstrap Spinner Css -->
    <link href="{{ asset('assets/plugins/jquery-spinner/css/bootstrap-spinner.css') }}" rel="stylesheet">
    <!-- Bootstrap Tagsinput Css -->
    <link href="{{ asset('assets/plugins/bootstrap-tagsinput/bootstrap-tagsinput.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}

<div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
                <div class="header">
                    <h2>Nouveau matériel</h2>
                </div>
                <div class="body table-responsive">
                    {% if app.session.flashBag.has('add_materiel') %}
                        <div class="col-sm-12 alert alert-info">
                            {% for msg in app.session.flashBag.get('add_materiel') %}
                                 {{ msg }}
                            {% endfor %}
                        </div>
                    {% endif %}
                    {% if app.session.flashBag.has('exist_materiel') %}
                        <div class="col-sm-12 alert alert-danger">
                            {% for msg in app.session.flashBag.get('exist_materiel') %}
                                {{ msg }}
                            {% endfor %}
                        </div>
                    {% endif %}
                    
                    {{ form_start(form) }}
                        <div class="row clearfix">
                            <div class="col-md-6">{{ form_row(form.codeImmo) }}</div>
                            <div class="col-md-6">{{ form_row(form.nature) }}</div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-md-6">{{ form_row(form.designation) }}</div>
                            <div class="col-md-6">{{ form_row(form.responsable) }}</div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-md-6">{{ form_row(form.centreCout) }}</div>
                            <div class="col-md-6">{{ form_row(form.lieuService) }}</div>
                        </div>

                        <div class="row clearfix">
                            <div class="col-md-6">{{ form_row(form.dateFacture) }}</div>
                            <div class="col-md-6">{{ form_row(form.dateService) }}</div>
                        </div>

                        <div class="row clearfix">
                            <div class="col-md-6">{{ form_row(form.fournisseur) }}</div>
                            <div class="col-md-6">{{ form_row(form.valeurAchat) }}</div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-md-12">{{ form_row(form.observation) }}</div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-md-8">
                            </div>
                            <div class="col-sm-4" align="right">
                                {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_TECH') or is_granted('ROLE_CONTROLER') or is_granted('ROLE_LOG') %}
                                    <button type="submit" class="btn btn-sm bg-blue">
                                        <i class="material-icons">done</i>
                                        <span>Ajouter</span>
                                    </button>
                                {% endif %}
                                <a href="{{ path('suivi.immo.index') }}" class="btn btn-sm bg-red">
                                    <i class="material-icons">clear</i>
                                    <span>Retour</span>
                                </a>
                            </div>
                        </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
</div>
    
{% endblock %}
