
.logo-title {
    float: left;
    font-weight: bold;
    width: 50%;
    padding: 0px;
}
.table-title{
    width: 100%;
    margin: 0px;
}

.logo-ifra {
    float: right;
    width: 15%;
    padding: 0px;
}

.doc-title {
    float: left;
    width: 100%;
    font-weight: bold;
    padding: 0px;
    margin-top: 5px;
    text-align: center;
    border-top: dotted ;
    border-bottom: dotted ;
}

/* Table Title */
table td.title{
    text-align: left;
    font-weight: bold;
}
table td.fit{
    text-align: left;
    font-weight: bold;
}
/* END Table Title */

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}