{% extends 'base.html.twig' %}

{% block title %}Recap{% endblock %}

{% block body %}

<!-- Widgets -->
<div class="block-header">
    <h2>TABLEAU DE BORD</h2>
</div>
<div class="row clearfix">
    <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12">
        <div class="info-box bg-cyan hover-expand-effect">
            <div class="icon">
                <i class="material-icons">playlist_add_check</i>
            </div>
            <div class="content">
                <div class="text">BE</div>
                <div class="number count-to" data-from="0" data-to="{{ BE }}" data-speed="1000" data-fresh-interval="20"></div>
            </div>
        </div>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12">
        <div class="info-box bg-grey hover-expand-effect">
            <div class="icon">
                <i class="material-icons">info</i>
            </div>
            <div class="content">
                <div class="text">Moyen</div>
                <div class="number count-to" data-from="0" data-to="{{ Moyen }}" data-speed="1000" data-fresh-interval="20"></div>
            </div>
        </div>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12">
        <div class="info-box bg-yellow hover-expand-effect">
            <div class="icon">
                <i class="material-icons">warning</i>
            </div>
            <div class="content">
                <div class="text">Mauvais</div>
                <div class="number count-to" data-from="0" data-to="{{ Mauvais }}" data-speed="1000" data-fresh-interval="20"></div>
            </div>
        </div>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12">
        <div class="info-box bg-pink hover-expand-effect">
            <div class="icon">
                <i class="material-icons">help</i>
            </div>
            <div class="content">
                <div class="text">Panne</div>
                <div class="number count-to" data-from="0" data-to="{{ Panne }}" data-speed="1000" data-fresh-interval="20"></div>
            </div>
        </div>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12">
        <div class="info-box bg-red hover-expand-effect">
            <div class="icon">
                <i class="material-icons">dangerous</i>
            </div>
            <div class="content">
                <div class="text">Hors service</div>
                <div class="number count-to" data-from="0" data-to="{{ HorsService }}" data-speed="1000" data-fresh-interval="20"></div>
            </div>
        </div>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12">
        <div class="info-box bg-indigo hover-expand-effect">
            <div class="icon">
                <i class="material-icons">forum</i>
            </div>
            <div class="content">
                <div class="text">Perdu</div>
                <div class="number count-to" data-from="0" data-to="{{ Perdu }}" data-speed="1000" data-fresh-interval="20"></div>
            </div>
        </div>
    </div>
</div>
<!-- #END# Widgets -->

    <div class="row clearfix">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<div class="card">
				<div class="header">
					<h2>PROPOSITION ACHAT</h2>
				</div>
				<div class="body table-responsive" id="search-result" data-url="">
                    <table class="table table-bordered table-striped table-hover" id="table-result">
                        <thead>
                            <tr>
                                <th>Date d'insertion</th>
                                <th>D&eacute;signation</th>
                                <th>Prix</th>
                                <th>Lieu/Service</th>
                                <th>Responsable</th>
                                <th>Date de contrôle</th>
                                <th>Observations</th>
                                <th>Validation</th>
                                {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_CONTROLER') %}
                                    <th><div align="center">Action</div></th>
                                {% endif %}
                            </tr>
                        </thead>
                        <tbody>
                            {% if propositions is not empty %}
                                {% for res in propositions %}
                                    <tr>
                                        <td class="fit">{{ res.createdAt|date('d-m-Y') }}</td>
                                        <td class="fit">{{ res.designation }}</td>
                                        <td class="fit">{{ res.prixUnit }} x {{ res.qte }}</td>
                                        <td class="fit">{{ res.lieuService }}</td>
                                        <td class="fit">{{ res.responsable }}</td>
                                        <td class="fit">{% if res.controlAt is not null %}{{ res.controlAt|date('d-m-Y') }}{% endif %}</td>
                                        <td class="fit">{{ res.Observations }}</td>
                                        <td class="fit">
                                            {% if res.isValide == true and res.isRefuse == false %}
                                                <span class="label bg-green">Validé</span>
                                            {% endif %}
                                            {% if res.isValide == false and res.isRefuse == false %}
                                                <span class="label bg-orange">En attente</span>
                                            {% endif %}
                                            {% if res.isValide == false and res.isRefuse == true %}
                                                <span class="label bg-red">Refusé</span>
                                            {% endif %}
                                        </td>
                                        {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_CONTROLER') %}
                                            <td class="fit" align="right">
                                                <form method="post" action="{{ path('suivi.proposition.valide', {id: res.id}) }}" style="display: inline-block" onsubmit="return confirm('Etes vous vraiment sûr ?')">
                                                    <input type="hidden" name="_method" value="DELETE">
                                                    <input type="hidden" name="_token_valide" value="{{ csrf_token('valide' ~ res.id) }}">
                                                    <button class="btn btn-sm btn-info">Valider</button>
                                                </form>
                                                <form method="post" action="{{ path('suivi.proposition.attente', {id: res.id}) }}" style="display: inline-block" onsubmit="return confirm('Etes vous vraiment sûr ?')">
                                                    <input type="hidden" name="_method" value="DELETE">
                                                    <input type="hidden" name="_token_attente" value="{{ csrf_token('attente' ~ res.id) }}">
                                                    <button class="btn btn-sm btn-secondary">En attente</button>
                                                </form>
                                                <form method="post" action="{{ path('suivi.proposition.refuse', {id: res.id}) }}" style="display: inline-block" onsubmit="return confirm('Etes vous vraiment sûr ?')">
                                                    <input type="hidden" name="_method" value="DELETE">
                                                    <input type="hidden" name="_token_refuse" value="{{ csrf_token('refuse' ~ res.id) }}">
                                                    <button class="btn btn-sm btn-danger">Refuser</button>
                                                </form>
                                            </td>
                                        {% endif %}
                                    </tr>
                                {% endfor %}
                            {% else %}
                                <tr>
                                    <td colspan="9" align="center">
                                        <p class="font-bold col-red">Aucune proposition</a></p>
                                    </td>
                                </tr>
                            {% endif %}
                        </tbody>
                    </table>
			    </div>
			</div>
		</div>
    </div>

    <div class="row clearfix">
        <!-- Pie Chart -->
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="card">
                <div class="header">
                    <h2>REPRESENTATION CHART</h2>
                </div>
                <div class="body">
                    <div id="pie_chart1" class="flot-chart"></div>
                </div>
            </div>
        </div>
        <!-- #END# Pie Chart -->

        <!-- Task Info -->
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="card">
                <div class="header">
                    <h2>STATUS PROPOSITION ACHAT</h2>
                </div>
                <div class="body" style="height: 360px;">
                    <div class="table-responsive">
                        <table class="table table-hover dashboard-task-infos">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Status</th>
                                    <th>Nb</th>
                                    <th>Progression</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td><span class="label bg-green">Validé</span></td>
                                    <td>{{ Valide }}</td>
                                    <td>
                                        <div class="progress">
                                            <div class="progress-bar bg-green" role="progressbar" aria-valuenow="{{ Valide }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ Valide }}%"></div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td><span class="label bg-orange">Attente</span></td>
                                    <td>{{ Attente }}</td>
                                    <td>
                                        <div class="progress">
                                            <div class="progress-bar bg-orange" role="progressbar" aria-valuenow="{{ Attente }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ Attente }}%"></div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>
                                        <span class="label bg-red">Refusé</span>
                                    </td>
                                    <td>{{ Refuse }}</td>
                                    <td>
                                        <div class="progress">
                                            <div class="progress-bar bg-red" role="progressbar" aria-valuenow="{{ Refuse }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ Refuse }}%"></div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- #END# Task Info -->
    </div>

{% endblock %}

{% block scripts %}
    <script src="{{ asset('assets/plugins/flot-charts/jquery.flot.js') }}"></script>
    <script src="{{ asset('assets/plugins/flot-charts/jquery.flot.resize.js') }}"></script>
    <script src="{{ asset('assets/plugins/flot-charts/jquery.flot.pie.js') }}"></script>
    <script src="{{ asset('assets/plugins/flot-charts/jquery.flot.categories.js') }}"></script>
    <script src="{{ asset('assets/plugins/flot-charts/jquery.flot.time.js') }}"></script>
    <script>
        $(function () {
            $('.count-to').countTo();
            $('.sales-count-to').countTo({
                formatter: function (value, options) {
                    return '$' + value.toFixed(2).replace(/(\d)(?=(\d\d\d)+(?!\d))/g, ' ').replace('.', ',');
                }
            });
        });
    </script>
    
    <script type="text/javascript">
        //PIE CHART ==========================================================================================
        var pieChartData = [], pieChartSeries = 6;
        var pieChartColors = ['#009688', '#CCC', '#FFC107', '#E91E63', '#FF0000', '#4B0082'];
        var pieChartDatas = ['{{ BE|raw }}', '{{ Moyen|raw }}', '{{ Mauvais|raw }}', '{{ Panne|raw }}', '{{ HorsService|raw }}', '{{ Perdu|raw }}']
        var labelDatas = ['BE', 'Moyen', 'Mauvais', 'Panne', 'Hors service', 'Perdu'];

        for (var i = 0; i < pieChartSeries; i++) {
            pieChartData[i] = {
                label: labelDatas[i],
                data: pieChartDatas[i],
                color: pieChartColors[i]
            }
        }
        $.plot('#pie_chart1', pieChartData, {
            series: {
                pie: {
                    show: true,
                    radius: 1,
                    label: {
                        show: true,
                        radius: 3 / 4,
                        formatter: labelFormatter,
                        background: {
                            opacity: 0.5
                        }
                    }
                }
            },
            legend: {
                show: false
            }
        });

        function labelFormatter(label, series) {
            /*return '<div style="font-size:8pt; text-align:center; padding:2px; color:white;">' + label + '<br/>' + Math.round(series.percent) + '%</div>';*/
            return '<div style="font-size:8pt; text-align:center; padding:2px; color:white;">' + label + ' ' + series.percent.toFixed(2) + '%</div>';
        }
        //====================================================================================================
    </script>
{% endblock %}