{% extends 'base.html.twig' %}

{% block body %}

<div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
                <div class="header">
                    <h2>Détail panne</h2>
                </div>
                <div class="body" id="search-result">

                    <form method="POST" action="">
                        <h2 class="card-inside-title doc-title">Informations liée au matériel <span class="font-bold col-cyan">{{ panne.materiel.codeImmo }}</span></h2>
                        <div class="row clearfix">
                            <div class="col-md-3">
                                <div class="input-group">
                                    <label>Centre du coût</label>
                                    <div class="form-line">
                                        <input type="text" class="form-control" placeholder="Antenne autocomplète" value="{{ panne.materiel.centreCout }}" name="v_centreCout" disabled>
                                        <input type="hidden" class="form-control" value="{{ panne.materiel.codeImmo }}" name="v_codeImmo">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="input-group">
                                    <label>Lieu/Service</label>
                                    <div class="form-line">
                                        <input type="text" class="form-control" placeholder="Nature autocomplète" value="{{ panne.materiel.lieuService }}" name="v_lieuService" disabled>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="input-group">
                                    <label>Nature</label>
                                    <div class="form-line">
                                        <input type="text" class="form-control" placeholder="Marque autocomplète" value="{{ panne.materiel.nature }}" name="v_nature" disabled>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="input-group">
                                    <label>Responsable</label>
                                    <div class="form-line">
                                        <input type="text" class="form-control" placeholder="Responsable autocomplète" value="{{ panne.materiel.responsable }}" name="v_responsable" disabled>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row clearfix">
                            <div class="col-md-3">
                                <div class="input-group">
                                    <label>Type panne</label>
                                    <div class="form-line">
                                        <input type="text" class="form-control" placeholder="Type panne" value="{{ panne.typePanne }}" name="v_typePanne" disabled>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="input-group">
                                    <label>Opérateur</label>
                                    <div class="form-line">
                                        <input type="text" class="form-control" placeholder="Opérateur" value="{{ panne.users.matricule }}" name="v_user" disabled>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="input-group">
                                    <label>Observation</label>
                                    <div class="form-line">
                                        <input type="text" class="form-control" placeholder="Observations" value="{{ panne.materiel.observation }}" name="v_observation" disabled>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </form>

                    {{ form_start(form) }}
                        <h2 class="card-inside-title doc-title">Cause et solution proposée</h2>
                        <div class="row">
                            <div class="col-md-6">{{ form_row(form.cause) }}</div>
                            <div class="col-md-6">{{ form_row(form.solution) }}</div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">{{ form_row(form.commentn1) }}</div>
                        </div>

                        <h2 class="card-inside-title doc-title">Etat et date de modification</h2>
                        <div class="row clearfix">
                            <div class="col-md-2">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="material-icons">date_range</i> </span>
                                    <div class="form-line">
                                        <input type="text" class="form-control datepicker" placeholder="Date de réparation" {% if panne.resoluDate is not empty %} value="{{ panne.resoluDate|date('d-m-Y') }}" {% else %} value="{{ date }}" {% endif %} name="v_date_reparation" {% if panne.resoluDate is empty %} required {% endif %}>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-1">
                                <div class="input-group">
                                    <span class="input-group-addon font-bold col-cyan">Etat:</span>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <input name="v_etat" type="radio" id="radio_atat_panne" value="2" {% if panne.isResolu == false %} checked {% endif %} />
                                <label for="radio_atat_panne">En panne</label>
                                <input name="v_etat" type="radio" id="radio_atat_resolu" value="1" {% if panne.isResolu == true %} checked {% endif %} />
                                <label for="radio_atat_resolu">Resolu</label>
                                <input name="v_etat" type="radio" id="radio_atat_hors_service" value="4" {% if panne.isNonService == true %} checked {% endif %} />
                                <label for="radio_atat_hors_service">Hors service</label>
                            </div>
                        </div>

                        <div class="row clearfix">
                            <div class="col-md-8"></div>
                            <div class="col-sm-4" align="right">
                                {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_TECH') or is_granted('ROLE_CONTROLER') or is_granted('ROLE_LOG') %}
                                    <button type="submit" class="btn btn-sm bg-blue">
                                        <i class="material-icons">done</i>
                                        <span>Editer</span>
                                    </button>
                                {% endif %}
                                <a href="{{ path('suivi.panne.index') }}" class="btn btn-sm bg-red">
                                    <i class="material-icons">clear</i>
                                    <span>Retour</span>
                                </a>
                            </div>
                        </div>

                    {{ form_end(form) }}

                </div>
            </div>
        </div>
</div>
    
{% endblock %}

{% block scripts %}
    
{% endblock %}