                <form method="POST" action="{{ path('suivi.panne.add') }}">

                        {% if app.session.flashBag.has('error_add_panne') %}
                            <div class="col-sm-12 alert alert-danger">
                                {% for msg in app.session.flashBag.get('error_add_panne') %}
                                    {{ msg }}
                                {% endfor %}
                            </div>
                        {% endif %}
                        {% if app.session.flashBag.has('exist_panne') %}
                            <div class="col-sm-12 alert alert-danger">
                                {% for msg in app.session.flashBag.get('exist_panne') %}
                                    {{ msg }}
                                {% endfor %}
                            </div>
                        {% endif %}

                        <h2 class="card-inside-title doc-title">Informations liée au matériel {% if panne is not null %}(<span class="font-bold col-cyan">{{ panne.codeImmo }}</span>){% endif %}</h2>
                        <div class="row clearfix">
                            <div class="col-md-3">
                                <div class="input-group">
                                    <label>Centre de coût</label>
                                    <div class="form-line">
                                        <input type="text" class="form-control" placeholder="autocomplète" {% if panne is not null %} value="{{ panne.centreCout }}" {% endif %} name="v_centreCout" disabled>
                                        <input type="hidden" class="form-control" {% if panne is not null %} value="{{ panne.codeImmo }}" {% endif %} name="v_codeImmo">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="input-group">
                                    <label>Lieu/Service</label>
                                    <div class="form-line">
                                        <input type="text" class="form-control" placeholder="autocomplète" {% if panne is not null %} value="{{ panne.lieuService }}" {% endif %} name="v_lieuService" disabled>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="input-group">
                                    <label>Nature</label>
                                    <div class="form-line">
                                        <input type="text" class="form-control" placeholder="autocomplète" {% if panne is not null %} value="{{ panne.nature }}" {% endif %} name="v_nature" disabled>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="input-group">
                                    <label>Responsable</label>
                                    <div class="form-line">
                                        <input type="text" class="form-control" placeholder="autocomplète" {% if panne is not null %} value="{{ panne.responsable }}" {% endif %} name="v_responsable" disabled>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <h2 class="card-inside-title doc-title">Type panne et observations</h2>
                        <div class="row clearfix">
                            <div class="col-md-3">
                                <div class="input-group">
                                    <label>Type panne</label>
                                    <select class="form-control show-tick" name="v_search_type" required>
                                        <option value="">-Choisissez-</option>
                                        <option value="Matériel">Matériel</option>
                                        <option value="Système">Système</option>
                                        <option value="Logiciel">Logiciel</option>
                                        <option value="Autres">Autres</option>
                                        <option value="en cours de détection">en cours de détection</option>
                                    </select>
                                </div>
                            </div>
                            
                            <div class="col-md-9">
                                <div class="input-group">
                                    <label>Observations</label>
                                    <div class="form-line">
                                        <textarea class="form-control" placeholder="Observations de la panne" name="v_search_observation" required>{% if panne is not null %} {{ panne.observation }} {% endif %}</textarea>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <h2 class="card-inside-title doc-title">Cause et solution proposée</h2>
                        <div class="row clearfix">
                            <div class="col-md-6">
                                <div class="input-group">
                                    <label>Cause</label>
                                    <div class="form-line">
                                        <textarea class="form-control" placeholder="Entrer ici" name="v_cause" required></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="input-group">
                                    <label>Solution</label>
                                    <div class="form-line">
                                        <textarea class="form-control" placeholder="Entrer ici" name="v_solution" required></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="row clearfix">
                            <div class="col-md-8"></div>
                            <div class="col-sm-4" align="right">
                                <button type="submit" class="btn btn-sm bg-blue waves-effect">
                                    <i class="material-icons">done</i>
                                    <span>Nouveau panne</span>
                                </button>
                                <a href="{{ path('suivi.panne.index') }}" class="btn btn-sm bg-red waves-effect">
                                    <i class="material-icons">clear</i>
                                    <span>Annuler</span>
                                </a>
                            </div>
                        </div>
                    
                </form>