{% extends 'base.html.twig' %}

{% block body %}

<div class="row clearfix">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<div class="card">
				<div class="header">
					<h2>Panne & Hors service</h2>
                    <ul class="header-dropdown m-r--5">
                        {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_TECH') or is_granted('ROLE_CONTROLER') or is_granted('ROLE_LOG') %}
                            <li><a href="{{ path('suivi.panne.new') }}" class="btn btn-primary">Nouveau panne</a></li>
                        {% endif %}
                    </ul>
				</div>
				<div class="body table-responsive" id="search-result" data-url="">
                    {#<form method="POST" action="{{ path('suivi.panne.index') }}">
                        <div class="row">
                            <div class="col-sm-2">
                                <div class="input-group">
                                    <div class="form-line">
                                        <input type="text" class="form-control" placeholder="Code immo" value="" name="v_mots">
                                    </div>
                                </div>
                            </div>
                            <div class=" col-sm-2">
                                <div class="input-group">
                                    <select class="form-control show-tick" name="v_responsable">
                                        <option value="">Responsable</option>
                                        {% for mats in mat %}
                                            <option value="{{ mats.responsable }}">{{ mats.responsable }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class=" col-sm-2">
                                <div class="input-group">
                                    <select class="form-control show-tick" name="v_lieuService">
                                        <option value="">Lieu/Service</option>
                                        {% for lieux in lieu %}
                                            <option value="{{ lieux.lieuService }}">{{ lieux.lieuService }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class=" col-sm-2">
                                <div class="input-group">
                                    <select class="form-control show-tick" name="v_etat">
                                        <option value="">Etat</option>
                                        <option value="2">En panne</option>
                                        <option value="1">Resolu</option>
                                        <option value="4">Hors service</option>
                                    </select>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-sm bg-teal">
                                <i class="material-icons">search</i>
                                <span>Rechercher</span>
                            </button>
                        </div>
                    </form>#}

                    {{ form_start(form) }}
                        <div class="row">
                            <div class="col-md-3">
                                {{ form_row(form.code) }}
                            </div>
                            <div class="col-md-3">
                                {{ form_row(form.responsable) }}
                            </div>
                            <div class="col-md-4">
                                {{ form_row(form.lieuService) }}
                            </div>
                            <div class="col-md-2">
                                <button type="submit" class="btn btn-sm bg-teal">
                                    <i class="material-icons">search</i>
                                    <span>Rechercher</span>
                                </button>
                            </div>
                        </div>
                    {{ form_end(form) }}


                    {% if result is not empty %}
                        <div class="row clearfix">
                            <div class="col-md-12">
                                <form action="{{ path('export_panne') }}" method="post" class="form-horizontal">
                                    <div>
                                        <button type="submit" value="" class="btn btn-sm bg-teal" name="export_datas" id="export_datas">Exporter</button>
                                        <input type="radio" id="tous" name="option" value="tous" checked><label for="tous">tous</label>
                                    </div>
                                </form>
                            </div>
                        </div>
                    {% endif %}


                    <ol class="breadcrumb breadcrumb-bg-teal align-right">
                        <li>
                            <a href="javascript:void(0);">Total:
                                <span class="badge badge-info">{{ total }}</span>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0);">Panne:
                                <span class="badge badge-info">{{ ko }}</span>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0);">Resolu:
                                <span class="badge badge-info">{{ ok }}</span>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0);">Hors service:
                                <span class="badge badge-info">{{ nonSrv }}</span>
                            </a>
                        </li>
                    </ol>
					<table class="table table-bordered table-striped table-hover" id="table-result" role="grid">
						<thead>
							<tr role="row">
								<th>Date</th>
                                <th>Code Immo</th>
                                <th>Responsable</th>
                                <th>Lieu/Service</th>
                                <th>Cause</th>
                                <th>Solution</th>
                                <th>status</th>
                                <th>Contrôle N+1</th>
                                <th>Action</th>
							</tr>
						</thead>
						<tbody>
                            {% if result is not empty %}
                                {% for res in result %}
                                <tr role="row" class="odd">
                                    <td class="fit">{{ res.datePanne|date('d-m-Y') }}</td>
                                    <td class="fit">{{ res.materiel.codeImmo }}</td>
                                    <td class="fit">{{ res.materiel.responsable }}</td>
                                    <td class="fit">{{ res.materiel.lieuService }}</td>
                                    <td class="fit">{{ res.cause }}</td>
                                    <td class="fit">{{ res.solution }}</td>
                                    <td class="fit">
                                        {% if res.isResolu == true %}
                                            <span class="label bg-green">Resolu</span>
                                        {% endif %}
                                        {% if res.isNonService == true %}
                                            <span class="label bg-red">Hors service</span>
                                        {% endif %}
                                        {% if res.isResolu == false and res.isNonService == false %}
                                            <span class="label bg-yellow">En panne</span>
                                        {% endif %}
                                    </td>
                                    <td class="fit">{{ res.commentn1 }}</td>
                                    <td class="fit" align="right">
                                        <a class="btn btn-sm btn-success" href="{{ path('suivi.panne.detail', {id: res.id}) }}">Détail</a>
                                        {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_TECH') or is_granted('ROLE_CONTROLER') %}
                                            <form method="post" action="{{ path('suivi.panne.delete', {id: res.id}) }}" style="display: inline-block" onsubmit="return confirm('Etes vous vraiment sûr ?\nCette matériel devient en état normal dans la liste immobilisations!')">
                                                <input type="hidden" name="_method" value="DELETE">
                                                <input type="hidden" name="_token_delete" value="{{ csrf_token('delete' ~ res.id) }}">
                                                <button class="btn btn-sm btn-danger">Supprimer</button>
                                            </form>
                                        {% endif %}
                                    </td>
                                </tr>
                                {% endfor %}
                            {% else %}
                                <tr role="row" class="odd">
                                    <td colspan="10" align="center">
                                        <p class="font-bold col-red">Aucune entr&eacute;e <a href="{{ path('suivi.panne.new') }}"> Ajouter </a></p>
                                    </td>
                                </tr>
                            {% endif %}
                        </tbody>
					</table>

                    {% if result is not empty %}
                        <div class="row clearfix">
                            <div class="col-md-12">
                                {{ knp_pagination_render(result) }}
                            </div>
                        </div>
                    {% endif %}

			    </div>
			</div>
		</div>
</div>

{% endblock %}

{% block scripts %}
    <script src="{{ asset('assets/plugins/bootstrap-notify/bootstrap-notify.js') }}"></script>
    <script type="text/javascript">
        $(function () {
            var text = $('#notif').attr('data-type-state');
            if (text !== null || text !== '') { 
                //showNotification('bg-red', text, 'bottom', 'center', 'animated fadeInDown', 'animated fadeOutUp');
            }
        });
        function showNotification(colorName, text, placementFrom, placementAlign, animateEnter, animateExit) {
            if (text === null || text === '') { text = 'Notification'; }
            var allowDismiss = true;
            $.notify({
                message: text
            },
                {
                    type: colorName,
                    allow_dismiss: allowDismiss,
                    newest_on_top: true,
                    timer: 1000,
                    placement: {
                        from: placementFrom,
                        align: placementAlign
                    },
                    animate: {
                        enter: animateEnter,
                        exit: animateExit
                    },
                    template: '<div data-notify="container" class="bootstrap-notify-container alert alert-dismissible {0} ' + (allowDismiss ? "p-r-35" : "") + '" role="alert">' +
                    '<button type="button" aria-hidden="true" class="close" data-notify="dismiss">×</button>' +
                    '<span data-notify="icon"></span> ' +
                    '<span data-notify="title">{1}</span> ' +
                    '<span data-notify="message">{2}</span>' +
                    '<div class="progress" data-notify="progressbar">' +
                    '<div class="progress-bar progress-bar-{0}" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;"></div>' +
                    '</div>' +
                    '<a href="{3}" target="{4}" data-notify="url"></a>' +
                    '</div>'
                });
        }
    </script>
{% endblock %}
