{% extends 'base.html.twig' %}

{% block body %}

<div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
                <div class="header">
                    <h2>Entrer nouveau panne</h2>
                </div>
                <div class="body" id="search-result" data-url="{{ path('suivi.panne.search') }}">
                        <form method="post" id="search-form" data-url="{{ path('suivi.panne.search') }}">
                        <h2 class="card-inside-title">Rechercher par code</h2>
                        <div class="row clearfix">
                            <div class="col-md-10">
                                <div class="input-group">
                                    <div class="form-line focused">
                                        <input class="form-control" placeholder="Votre code immo..." name="v_search_code">
                                    </div>
                                </div>
                            </div>

                            <div class=" col-sm-2">
                                <button type="button" class="btn btn-sm bg-teal" id="search-button">
                                    <i class="material-icons">sync</i>
                                    <span>Rechercher</span>
                                </button>
                            </div>
                        </div>
                        </form>

                    <div id="table-result">
                        
                   </div>


                </div>
            </div>
        </div>
</div>
    
{% endblock %}

{% block scripts %}
    <script src="{{ asset('assets/js/custom_widgets/searchdashboard.js') }}"></script>
	<script type="text/javascript">
		$(function () {
            $('#search-result').searchwidget({targetTable: '#table-result', searchButton: '#search-button', form: '#search-form'});
        });
	</script>
{% endblock %}
