﻿* {
  box-sizing: border-box;
  
}

.table-head {
  margin-top: 0px;
  margin-bottom: 15px;
  font-size: 0.8em;
  border-collapse: collapse;
  width: 100%;
  font-family: Arial;
}

.table-head th {
  padding: 5px;
}

.table-head .colored {
  background: #ccc;
  border: 1px solid #ccc;
  text-decoration-color: #fff;
}

.table01 {
  margin-top: 0px;
  margin-bottom: 10px;
  font-size: 0.8em;
  border-collapse: collapse;
  width: 100%;
  font-family: Arial;
}

.table01 th {
  background: #ccc;
  border-bottom: 1px solid #dddddd;
  padding: 8px;
}

.left {
  text-align: left;
}

.tright {
  text-align: right;
}

.center {
  text-align: center;
}

.sous-total {
  background: #4CAF50;
  font-family:'Arial Narrow Bold', sans-serif;
}

.total {
  background: #FFC107;
  font-family:'Arial Narrow Bold', sans-serif;
}

.error_code {
  background: #FFC107;
  font-family:'Arial Narrow Bold', sans-serif;
}

.error {
  background: #F44336;
  font-family:'Arial Narrow Bold', sans-serif;
}

.table1 {
  margin-top: 0px;
  font-size: 0.8em;
  /*border-collapse: collapse;*/
  width: 100%;
  font-family: Arial;
}

.bordered {
  border: 1px solid #000;
}

.bordered-top {
  border-top: 1px solid #000;
}

.bordered-top-right {
  border-top: 1px solid #000;
  border-right: 1px solid #000;
}

.bordered-bottom-right {
  border-bottom: 1px solid #000;
  border-right: 1px solid #000;
}

.bordered-bottom {
  border-bottom: 1px solid #000;
}

.table1 th {
  /*background: #f0f0f0;
  border-bottom: 1px solid #dddddd;*/
  padding: 6px;
}

/*.table1 td {
  border: 1px solid #000;
}*/