{% extends 'base.html.twig' %}

{% block title %}Proposition{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('assets/plugins/bootstrap-select/css/bootstrap-select.css') }}" rel="stylesheet"/>
    <!-- Bootstrap Spinner Css -->
    <link href="{{ asset('assets/plugins/jquery-spinner/css/bootstrap-spinner.css') }}" rel="stylesheet">
    <!-- Bootstrap Tagsinput Css -->
    <link href="{{ asset('assets/plugins/bootstrap-tagsinput/bootstrap-tagsinput.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}

<div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
                <div class="header">
                    <h2>Proposition acquisitions des matériels</h2>
                    <ul class="header-dropdown m-r--5">
                        {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_TECH') or is_granted('ROLE_LOG') %}
                            <li><a href="{{ path('suivi.proposition.new') }}" class="btn btn-primary">Proposer</a></li>
                        {% endif %}
                    </ul>
                    
                </div>
                <div class="body table-responsive" id="search-result" data-url="">

                    <form method="POST" action="{{ path('suivi.proposition.index') }}">
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="input-group">
                                    <div class="form-line">
                                        <input type="text" class="form-control" placeholder="Désignation" value="" name="v_mots">
                                    </div>
                                </div>
                            </div>
                            <div class=" col-sm-3">
                                <div class="input-group">
                                    <select class="form-control show-tick" name="v_responsable">
                                        <option value="">Responsable</option>
                                        {% for mats in mat %}
                                            <option value="{{ mats.responsable }}">{{ mats.responsable }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class=" col-sm-3">
                                <div class="input-group">
                                    <select class="form-control show-tick" name="v_lieuService">
                                        <option value="">Lieu/Service</option>
                                        {% for lieux in lieu %}
                                            <option value="{{ lieux.lieuService }}">{{ lieux.lieuService }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <button type="submit" class="btn btn-sm bg-teal">
                                    <i class="material-icons">search</i>
                                    <span>Rechercher</span>
                                </button>
                            </div>
                        </div>
                    </form>

                    {% if result is not empty %}
                        <div class="row clearfix">
                            <div class="col-md-12">
                                <form action="{{ path('export_proposition') }}" method="post" class="form-horizontal">
                                    <div>
                                        <button type="submit" value="" class="btn btn-sm bg-teal" name="export_datas" id="export_datas">Exporter</button>
                                        <input type="radio" id="tous" name="option" value="tous" checked><label for="tous">tous</label>
                                    </div>
                                </form>
                            </div>
                        </div>
                    {% endif %}

                    <ol class="breadcrumb breadcrumb-bg-teal align-right">
                        <li>
                            <a href="javascript:void(0);">Total:
                                <span class="badge badge-info">{{ total }}</span>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0);">Validé:
                                <span class="badge badge-info">{{ valide }}</span>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0);">En attente:
                                <span class="badge badge-info">{{ attente }}</span>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0);">Refusé:
                                <span class="badge badge-info">{{ refuse }}</span>
                            </a>
                        </li>
                    </ol>

                    <table class="table table-bordered table-striped table-hover" id="table-result">
                        <thead>
                            <tr>
                                <th>Date d'insertion</th>
                                <th>D&eacute;signation</th>
                                <th>Prix</th>
                                <th>Lieu/Service</th>
                                <th>Responsable</th>
                                <th>Date de contrôle</th>
                                <th>Observations</th>
                                <th>status</th>
                                <th><div align="center">Action</div></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% if result is not empty %}
                                {% for res in result %}
                                    <tr>
                                        <td class="fit">{{ res.createdAt|date('d-m-Y') }}</td>
                                        <td class="fit">{{ res.designation }}</td>
                                        <td class="fit">{{ res.prixUnit }} x {{ res.qte }}</td>
                                        <td class="fit">{{ res.lieuService }}</td>
                                        <td class="fit">{{ res.responsable }}</td>
                                        <td class="fit">{% if res.controlAt is not null %}{{ res.controlAt|date('d-m-Y') }}{% endif %}</td>
                                        <td class="fit">{{ res.observations }}</td>
                                        <td class="fit">
                                            <!-- Validity -->
                                            {% if res.isValide == true and res.isRefuse == false %}
                                                <span class="label bg-green">Validé</span>
                                            {% endif %}
                                            {% if res.isValide == false and res.isRefuse == false %}
                                                <span class="label bg-yellow">En attente</span>
                                            {% endif %}
                                            {% if res.isValide == false and res.isRefuse == true %}
                                                <span class="label bg-red">Refusé</span>
                                            {% endif %}
                                            <!-- Visibility -->
                                            {% if res.isVisible == false %}
                                                <span class="label bg-orange">Invisible</span>
                                            {% endif %}
                                            {% if res.isVisible == true %}
                                                <span class="label bg-orange">Visible</span>
                                            {% endif %}
                                        </td>
                                        <td class="fit" align="right">
                                            {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_TECH') or is_granted('ROLE_LOG') %}
                                                <a href="{{ path('suivi.proposition.edit', {id: res.id}) }}" class="btn btn-sm btn-success">Editer</a>
                                                {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_TECH') %}
                                                    <form method="post" action="{{ path('suivi.proposition.show', {id: res.id}) }}" style="display: inline-block" onsubmit="return confirm('Etes vous vraiment sûr ?')">
                                                        <input type="hidden" name="_method" value="DELETE">
                                                        <input type="hidden" name="_token_show" value="{{ csrf_token('show' ~ res.id) }}">
                                                        <button class="btn btn-sm btn-secondary">Visible/Invisible</button>
                                                    </form>
                                                {% endif %}
                                                <form method="post" action="{{ path('suivi.proposition.delete', {id: res.id}) }}" style="display: inline-block" onsubmit="return confirm('Etes vous vraiment sûr ?')">
                                                    <input type="hidden" name="_method" value="DELETE">
                                                    <input type="hidden" name="_token_delete" value="{{ csrf_token('delete' ~ res.id) }}">
                                                    <button class="btn btn-sm btn-danger">Supprimer</button>
                                                </form>
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                            {% else %}
                                <tr>
                                    <td colspan="11" align="center">
                                        <p class="font-bold col-red">Aucune proposition achat</a></p>
                                    </td>
                                </tr>
                            {% endif %}
                        </tbody>
                    </table>

                    {% if result is not empty %}
                        <div class="row clearfix">
                            <div class="col-md-12">
                                {{ knp_pagination_render(result) }}
                            </div>
                        </div>
                    {% endif %}

                </div>
            </div>
        </div> 
</div>
    
{% endblock %}

{% block scripts %}

{% endblock %}
