{% extends 'base.html.twig' %}

{% block title %}Proposition{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('assets/plugins/bootstrap-select/css/bootstrap-select.css') }}" rel="stylesheet"/>
    <!-- Bootstrap Spinner Css -->
    <link href="{{ asset('assets/plugins/jquery-spinner/css/bootstrap-spinner.css') }}" rel="stylesheet">
    <!-- Bootstrap Tagsinput Css -->
    <link href="{{ asset('assets/plugins/bootstrap-tagsinput/bootstrap-tagsinput.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}

<div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
                <div class="header">
                    <h2>Proposition achat</h2>
                </div>
                <div class="body table-responsive">

                    {% if app.session.flashBag.has('add_proposition') %}
                        <div class="col-sm-12 alert alert-info">
                            {% for msg in app.session.flashBag.get('add_proposition') %}
                                {{ msg }}
                            {% endfor %}
                        </div>
                    {% endif %}

                    {{ form_start(form) }}
                        <div class="row clearfix">
                            <div class="col-md-6">{{ form_row(form.designation) }}</div>
                            <div class="col-md-6">{{ form_row(form.centreCout) }}</div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-md-6">{{ form_row(form.lieuService) }}</div>
                            <div class="col-md-6">{{ form_row(form.responsable) }}</div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-md-6">{{ form_row(form.qte) }}</div>
                            <div class="col-md-6">{{ form_row(form.prixUnit) }}</div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-md-12">{{ form_row(form.observations) }}</div>
                        </div>

                        <div class="row clearfix">
                            <div class="col-md-8">
                            </div>
                            <div class="col-sm-4" align="right">
                                <button type="submit" class="btn btn-sm bg-blue waves-effect">
                                    <i class="material-icons">done</i>
                                    <span>Proposer</span>
                                </button>
                                <a href="{{ path('suivi.proposition.index') }}" class="btn btn-sm bg-red waves-effect">
                                    <i class="material-icons">clear</i>
                                    <span>Retour</span>
                                </a>
                            </div>
                        </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
</div>
    
{% endblock %}
