{% extends 'base.html.twig' %}

{% block title %}Validation{% endblock %}

{% block body %}

<div class="row clearfix">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<div class="card">
				<div class="header">
					<h2>Validation d'inventaire<small>contrôle</small></h2>
				</div>
				<div class="body table-responsive" id="search-result" data-url="">
                    {{ form_start(form) }}
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="input-group">
                                    <div class="form-line focused">
                                        {{ form_widget(form.codeImmo,{'attr':{'placeholder':'Votre recherche...'}}) }}
                                    </div>
                                    <span class="input-group-addon"><i class="material-icons">send</i></span>
                                </div>
                            </div>
                            <div class="col-sm-7"></div>
                            <button class="btn btn-sm bg-teal" type="submit">
                                <i class="material-icons">search</i>
                                <span>Rechercher</span>
                            </button>
                        </div>
                    {{ form_end(form) }}
                    <ol class="breadcrumb breadcrumb-bg-teal align-right">
                        <li>
                            <a href="javascript:void(0);">Total:
                                <span class="badge badge-info">{{ total }}</span>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0);">Validé:
                                <span class="badge badge-info">{{ valide }}</span>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0);">Annulé:
                                <span class="badge badge-info">{{ refuse }}</span>
                            </a>
                        </li>
                    </ol>
					<table class="table table-responsive table-bordered table-striped table-hover" id="table-result" role="grid">
						<thead>
							<tr role="row">
                                <th>Date upload</th>
                                <th>Responsable</th>
                                <th>Type</th>
                                <th>Nb matériel</th>
                                <th>status</th>
                                <th>Action</th>
                            </tr>
						</thead>
						<tbody>
                            {% if result is not empty %}
                                {% for res in result %}
                                <tr role="row" class="odd">
                                    <td class="fit">{{ res.createdAt|date('d-m-Y') }}</td>
                                    <td class="fit"><b>{{ res.users.matricule }}</b></td>
                                    <td class="fit"><b>{{ res.type }}</b></td>
                                    <td class="fit"><b>{{ res.quantite }}</b></td>
                                    <td class="fit">
                                        {% if res.isActive == true %}
                                            <span class="label bg-green">Validé</span>
                                        {% else %}
                                            <span class="label bg-red">Annulé</span>
                                        {% endif %}
                                    </td>
                                    <td class="fit" align="center">
                                        <a class="btn btn-sm bg-warning waves-effect waves-float desactivate-btn" href="{{ path('hist_state_switch',{'hist':res.id}) }}">
                                            <i class="material-icons">compare_arrows</i>
                                        </a>
                                    </td>
                                </tr>
                                {% endfor %}
                            {% else %}
                                <tr role="row" class="odd">
                                    <td colspan="10" align="center">
                                        <p class="font-bold col-red">Aucun enregistrement</a></p>
                                    </td>
                                </tr>
                            {% endif %}
                        </tbody>
					</table>
                    <div class="pagination">
                        {{ knp_pagination_render(result) }}
                    </div>
			    </div>
			</div>
		</div>
</div>


{% endblock %}